MONGODB_URI=mongodb://localhost:27017/optilens
JWT_ACCESS_TOKEN_SECRET=your-jwt-secret
JWT_EXPIRES_IN=7d
APP_BASE_URL=http://localhost:3000
EMAIL_VERIFY_TOKEN_EXPIRES_MINUTES=30

MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=your-mailtrap-user
MAIL_PASS=your-mailtrap-pass
MAIL_FROM=no-reply@optilens.local
